* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: url(./media/zima_most.jpg) no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player {
  display: flex;
  width: 100%;
  max-width: 55rem;
}

#video {
  width: 100%;
  max-width: 50rem;
}

#progress {
  outline: 3px solid rgb(0, 0, 0);
  width: 4.5rem;
  margin-left: 0.5rem;
  overflow: hidden;
  cursor: grab;
}

#progress-line {
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgb(31, 66, 142) 18%, rgb(250, 252, 249) 100%);
}

@media screen and (max-width: 480px) {
  #player {
    display: flex;
    flex-direction: column;
  }

  #progress {
    width: 10rem;
    height: 20rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
